[submodule "External/SPIRV-Cross"]
	path = External/SPIRV-Cross
	url = https://github.com/KhronosGroup/SPIRV-Cross.git
[submodule "External/glslang"]
	path = External/glslang
	url = https://github.com/KhronosGroup/glslang.git
